.header {
  width: 100%;
  min-width: 280px;
  padding: 5px 30px;
  box-sizing: border-box;
  background-color: #000000;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
